form {
    background-color: #00CDCD;
    align-items:  center;
    display: inline-block;
}

input{
    margin: 10px 15px;
}

span {
    display: inline-block;
    width: 150px;
    text-align: right;
}

.unit{
    margin-left: 10px;
    text-align: left;
}


button{
    margin-top: 2%;
    margin-bottom: 2%;
    color: beige;
    font: inherit;
    background-color: rgb(72, 84, 88);
    cursor: pointer;
    border-radius: 15px;
}

button:hover{
    background-color: rgb(13, 43, 53);
}